<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>DevCRM</Name>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vZGV2YW5haHVhYy5jcm0uZHluYW1pY3MuY29tO1VzZXJuYW1lPVNlcnZpY2lvQ1JNQGFuYWh1YWMubXg7UGFzc3dvcmQ9J3Mzci1AZG0wMSc7QXV0aFR5cGU9T2ZmaWNlMzY1O1JlcXVpcmVOZXdJbnN0YW5jZT10cnVlOw==</ConnectionString>
      <Version>8.2.1.360</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_beca_otorgada_16.png</Path>
      <WebResourceId>96bb5210-a118-e711-8112-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_beca_otorgada_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_religion.png</Path>
      <WebResourceId>96827eed-e708-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_religion</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programas_por_Campuas16.png</Path>
      <WebResourceId>6237acc3-9b39-e711-810e-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_programas_por_Campuas16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programas_campus_por_asesor32.png</Path>
      <WebResourceId>109d3066-9c39-e711-810e-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_programas_campus_por_asesor32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programas_campus_16.png</Path>
      <WebResourceId>5d2a40cf-200b-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_programas_campus_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programas_campus.png</Path>
      <WebResourceId>8a8f36b7-200b-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_programas_campus</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programa_16.png</Path>
      <WebResourceId>c50627c3-e908-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_programa_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_programa.png</Path>
      <WebResourceId>f5c900a3-e908-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_programa</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_religion_16.png</Path>
      <WebResourceId>212aa0b8-e808-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_religion_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_periodo_16px.png</Path>
      <WebResourceId>904b9c8d-e908-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_periodo_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_paisess_asesor32.png</Path>
      <WebResourceId>7a65aa0b-9a39-e711-810e-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_paisess_asesor32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_paises_asesor16.png</Path>
      <WebResourceId>16ef2bf3-9939-e711-810e-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_paises_asesor16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_pais_16px.png</Path>
      <WebResourceId>89e6ae53-a109-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_pais_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_pais.png</Path>
      <WebResourceId>75d20540-a109-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_pais</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_niveles_16px.png</Path>
      <WebResourceId>b03e22a3-f308-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_niveles_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_nacionalidad_16.png</Path>
      <WebResourceId>0e140590-e808-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_nacionalidad_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_nacionalidad.png</Path>
      <WebResourceId>0e32d9a2-e708-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_nacionalidad</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_periodo.png</Path>
      <WebResourceId>73c4e073-e908-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_periodo</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_solictud_beca_32.png</Path>
      <WebResourceId>505f0a29-a118-e711-8112-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_solictud_beca_32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_solictud_beca_16.png</Path>
      <WebResourceId>5517dbc4-a318-e711-8112-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_solictud_beca_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_submedio.png</Path>
      <WebResourceId>1555bf34-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_submedio</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_telefono_16.png</Path>
      <WebResourceId>4a119ec4-ea08-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_telefono_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_telefono.png</Path>
      <WebResourceId>a3893ca9-ea08-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_telefono</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_parentesco_16.png</Path>
      <WebResourceId>6ac9c081-9009-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_tipo_parentesco_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_parentesco.png</Path>
      <WebResourceId>fd653065-9009-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_tipo_parentesco</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_direccion_16.png</Path>
      <WebResourceId>08c8da3d-ea08-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_direccion_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_direccion.png</Path>
      <WebResourceId>b950db27-ea08-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_direccion</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_decision_16.png</Path>
      <WebResourceId>3c6caa50-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_decision_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_decision.png</Path>
      <WebResourceId>f82f113e-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_decision</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/ua_validacion_coincidencias.html</Path>
      <WebResourceId>5097aadb-e429-e711-810d-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_validacion_coincidencias</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_beca_otorgada_32.png</Path>
      <WebResourceId>8a9234f7-a018-e711-8112-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_beca_otorgada_32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>ce2b9925-e034-e711-8116-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_ValidaTelefono</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>3179865e-833a-e711-8115-e0071b669e71</WebResourceId>
      <WebResourceName>ua_validaFechaNacimiento</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>21ed20c9-0535-e711-8116-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_habilitarValidarCoincidencias</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>d0dd3f0f-6237-e711-8118-e0071b6a8131</WebResourceId>
      <WebResourceName>ua_FaseActual</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/scripts/ua_codigo_vpd4.js</Path>
      <WebResourceId>88b1d2b3-1c30-e711-8116-e0071b6a9211</WebResourceId>
      <WebResourceName>ua_codigo_vpd4</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>c1a6b082-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_colegio</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>96b9aa8e-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_colegio_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>d68b8130-9239-e711-8115-e0071b669e71</WebResourceId>
      <WebResourceName>ua_colegios_por_asesor_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>0ab4e31b-f408-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_contactado</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>bc9af829-f408-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_contactado_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>8ea124e5-d009-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_delegacion</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>8a0bebd7-d009-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_delegacion_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>9a4fa0c1-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_escuela</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>f1ea68cf-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_escuela_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>8a431898-b609-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_estado</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>5c523dac-b609-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_estado_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>b8d4d4d9-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_estado_civil</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>4f351601-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_estado_civil_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>016467e1-9609-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_estatus_alumno</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>975c68f0-9609-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_estatus_alumno_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>cf926c3b-420b-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_evento</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>e42acd47-420b-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_evento_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>3d24dc11-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_medio</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>94356021-f108-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_medio_16px</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>bcf0c193-f308-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_niveles</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>ccb5d263-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_admision</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>7b937779-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_admision_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>eec3cd8e-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_alumno</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>313a92a6-f008-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_alumno_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>3a4c0536-9809-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_tipo_contacto</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>352ca24c-9809-e711-8106-e0071b6a82a1</WebResourceId>
      <WebResourceName>ua_tipo_contacto_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>
      </Path>
      <WebResourceId>44881969-e808-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_correo</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>bc090d1b-4fd2-490a-8b66-06238b716d2d</OrgId>
      <Path>/images/ua_tipo_correo_16.png</Path>
      <WebResourceId>2bf25d0d-e908-e711-810c-e0071b669e71</WebResourceId>
      <WebResourceName>ua_tipo_correo_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>